@using EntityLayer.Concrete
@model List<Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />



<link href="~/css/styles.css" rel="stylesheet" />

<div class="categorycards">
    @foreach (var item in Model)
    {
        <div class="categories" style="background-image:url(@item.CategoryImage)">
            <div class="overlay">
                <div class="about d-flex flex-column">
                    <h4>@item.CategoryName</h4> @*<span>ID : @item.CategoryID</span>*@
                </div>
                <ul class="social-icons">
                    <li><a href="/Category/CategoryUpdate/@item.CategoryID"><i class="mdi mdi-lead-pencil"></i></a></li>
                    <li><a href="/Category/CategoryDelete/@item.CategoryID"><i class="mdi mdi-delete"></i></a></li>
                    <li><a href="/Category/CategoryImageUpdate/@item.CategoryID"><i class="mdi mdi-file-image-outline"></i></a></li>
                </ul>
            </div>
        </div>
    }
</div>