@model EntityLayer.Concrete.ToDoList

@{
    ViewData["Title"] = "ListAdd";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-header">
    <h3 class="page-title"> Görev Ekleme </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Dashboard/Index/">Yapılacaklar</a></li>
            <li class="breadcrumb-item active" aria-current="page">Görev Ekleme</li>
        </ol>
    </nav>
</div>

<br />

<form class="form-group" method="post">

    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="form-group row">

                    <label class="col-sm-2 col-form-label">Görev :</label>

                    <div class="col-sm-10">


                        @Html.TextBoxFor(x => x.ToDoListName, new { @class = "form-control" })

                    </div>
                </div>
            </div>
            <br />
        </div>
    </div>
    <button class="btn btn-info">Kaydet</button>
</form>


