@using EntityLayer.Concrete
@model List<Staff>

@{
    ViewData["Title"] = "DepartmentDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Detaylar</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/dpDetailCards/css/styles.css" rel="stylesheet" />
</head>
<body>

    <div class="page-header">
        <h3 class="page-title"> Departman Detayları </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Department/Index/">Departmanlar</a></li>
                <li class="breadcrumb-item active" aria-current="page">Departman Detayları</li>
            </ol>
        </nav>
    </div>

    <br />

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var item in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="@item.StaffImage" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Staff name-->
                                    <h5 class="fw-bolder">@item.StaffName</h5>
                                    <!-- Staff Department-->
                                    @ViewBag.d
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Department/DepartmentStaffMovements/@item.StaffID">Satışlar</a></div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="/dpDetailCards/js/scripts.js"></script>
</body>
</html>
